@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded disabled:bg-opacity-50 disabled:cursor-not-allowed;
  }

  .btn-outline-gray {
    @apply bg-transparent border-2 border-gray-500 text-gray-500 hover:bg-gray-500 hover:text-white;
  }
  .btn-blue {
    @apply bg-blue-500 text-white hover:bg-blue-700;
  }

  .btn-red {
    @apply bg-red-500 text-white hover:bg-red-700;
  }

  .btn-orange {
    @apply bg-yellow-400 text-gray-500 hover:bg-yellow-700;
  }

  .btn-green {
    @apply bg-green-500 text-white hover:bg-green-700;
  }

  .btn-gray {
    @apply bg-gray-500 text-white hover:bg-gray-700;
  }
}
